
.page {
  color: var(--text-color, #353430);
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height,23.4px);
  background-color: var(--background-color,  #FFF1F7);
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
