/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --backgroundg-main-color: #000028;
  --background-accent-color: #FF0070;
  --main-text-color: #F1B2CE;
  --accent-text-color: #000028;
  --hover-opacity:#FF007066;
  --decor-color:#FF0070;
  --text-shadow:#DB00FF;
  --backgroud-image: url(../images/cover-image-dark.png);
}

.theme-dark .header-rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  
  :root {
    --background-main-color: #000028;
    --background-accent-color: #FF0070;
    --main-text-color: #F1B2CE;
    --accent-text-color: #000028;
    --hover-opacity:#FF007066;
    --decor-color:#FF0070;
    --text-shadow:#DB00FF;
    --background-image: url(../images/cover-image-dark.png);
  }

  .header-rec {
    display: block;
  }
}