/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-main-color: #000028;
  --background-accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --accent-text-color: #000028;
  --hover-opacity: #ff007066;
  --decor-color: #ff0070;
  --text-shadow: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
}

.theme-dark .header-rec {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-main-color: #000028;
    --background-accent-color: #ff0070;
    --main-text-color: #f1b2ce;
    --accent-text-color: #000028;
    --hover-opacity: #ff007066;
    --decor-color: #ff0070;
    --text-shadow: #db00ff;
    --background-image: url(../images/cover-image-dark.png);
  }

  .header-rec {
    display: block;
  }
}
