/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-main-color: #fff1f7;
  --background-accent-color: #ff8dcb;
  --main-text-color: #353430;
  --accent-text-color: #353430;
  --text-shadow: #ffc2e6;
  --hover-opacity: #32312d66;
  --decor-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

.theme-light .header-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-main-color: #fff1f7;
    --background-accent-color: #ff8dcb;
    --main-text-color: #353430;
    --accent-text-color: #353430;
    --text-shadow: #ffc2e6;
    --hover-opacity: #32312d66;
    --decor-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }

  .header-rec {
    display: none;
  }
}
