.page {
  color: var(--text-color, #353430);
  font-family: var(--font-family, 'IBM Plex Mono', monospace);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height,23.4px);
  background-color: var(--background-color,  #FFF1F7);
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header{
  display: flex;
  flex-direction: column;
}
.header__theme-menu-list{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-block-start: var(--nav-bar-margin-top);
  border-inline-end: var(--nav-bar-margin-right);/*!!!IT DOESN't WORK*/
  gap: 10px;
  list-style-type: none;
  background-color: red;
}
.header__theme-menu-item{
  width: 70px;
  height: 26px;
}