:root{
  --text-color: #353430;
  --font-family: IBM Plex Mono, monospace ;
  --font-size: 18px;
  --line-height: 23.4px;
  --background-color: #FFF1F7;
  --nav-bar-margin-top: 75px;
  --nav-bar-margin-right: 10px;

}


